{% extends "base.html" %}
{% block content %}

<h2>New Event Form</h2>
<section id="form">
    <form method="POST" action="{{url_for('new_event')}}">
        <div class="input-field">
            <input id="event_name" name="event_name" type="text" class="validate" pattern="^[a-ZA-Z0-9]$" minlength="5"
                required>
            <label for="event_name">Name of Event</label>
        </div>
        <div class="input-field">
            <input id="event_place" name="event_place" type="text" required>
            <label for="event_place">Event Location</label>
        </div>
        <div class="input-field">
            <input id="event_date" name="event_date" type="datetime-local" required>
            <label for="event_date">Date & Time</label>
        </div>
        <div class="input-field">
            <input id="event_description" name="event_description" type="text" required>
            <label for="event_description">Description</label>
        </div>
        <div>
            <button type="submit">
                Create New Event
            </button>
        </div>
    </form>
</section>
{% endblock %}