{% block content %}

<h4>3 things I am grateful for today :</h4>
<section id="form">
    <form method="POST" action="">
        <div class="input-field">
            <label for="gratitude_date"> Date : </label>
            <input id="gratitude_date" name="gratitude_date" type="datetime-local" required>
        </div>
        <div class="input-field">
            <label for="gratitude_1"> 1 : </label>
            <input id="gratitude_1" name="gratitude_1" type="text" required>
        </div>
        <div class="input-field">
            <label for="gratitude_2"> 2 : </label>
            <input id="gratitude_2" name="gratitude_2" type="text" required>
        </div>
        <div class="input-field">
            <label for="gratitude_3"> 3 : </label>
            <input id="gratitude_3" name="gratitude_3" type="text" required>
        </div>
        <div>
            <button type="submit">
                Save
            </button>
        </div>
    </form>
</section>
{% endblock %}