{% extends "base.html" %}
{% block content %}

<h2>Create Event</h2>
<section id="form">
    <form method="POST" action="{{url_for('new_event')}}">
        <div class="input-field">
            <input id="event_name" name="event_name" type="text" class="validate" pattern="^[a-ZA-Z0-9]$" minlength="5"
                placeholder="Event Name" required>
        </div>
        <div class="input-field">
            <input id="event_place" name="event_place" type="text" placeholder="Location" required>
        </div>
        <div class="input-field date-time">
            <input id="event_date" name="event_date" type="datetime-local" required>
        </div>
        <div class="input-field">
            <input id="event_description" name="event_description" type="text" placeholder="Description" required>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</section>
{% endblock %}