{% extends "base.html" %}
{% block content %}


<section class="container">
    <div class="row mt-3">
        <div class="card col-12 col-md-8 offset-md-2" method="POST" action="{{ url_for('login') }}">
            <div class="card-body">
                <h2 class="text-center mt-5 mb-4">{{ username.title() }}'s Profile</h2>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Journal -->
<div class="py-2 text-center container bg-light rounded box-shadow mt-5">
    <div class="row mb-2">
        <div class="col-12">
            <h2 class="fw-light mt-5">My Journal</h2>
            <p class="lead text-muted mb-5">Every day start your day with at least 3 gratitudes. Get specific!
                Acknowledging the good that you already have in your life is the foundation for all abundance.</p>
            <h5 class="mb-5">I am grateful for :</h5>
            <!-- Display user journal form -->
            {% if session.user %}
            {% include 'journal_form.html' %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="my-3 p-3 text-left">
                {% if session.user %}
                {% for journal_entry in my_journal %}
                <div class="media text-muted pt-3">
                    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                    <div class="media-body pb-3 small mb-0 lh-125 ">
                        <div class="d-flex justify-content-between w-100">
                            <strong style="color:#fc8d1d;"> Date : {{ journal_entry.gratitude_date }} </strong></br>
                        </div>
                    </div>
                    <div class="media-body pb-3 mb-0 small lh-125 ">
                        <div class="d-flex justify-content-between w-100">
                            <strong class="text-gray-dark"> 1 : {{ journal_entry.gratitude_1 }} </strong></br>
                        </div>
                    </div>
                    <div class="media-body pb-3 mb-0 small lh-125">
                        <div class="d-flex justify-content-between w-100">
                            <strong class="text-gray-dark"> 2 : {{ journal_entry.gratitude_2 }}</strong></br>
                        </div>
                    </div>
                    <div class="media-body pb-3 mb-0 small lh-125">
                        <div class="d-flex justify-content-between w-100 mb-2">
                            <strong class="text-gray-dark"> 3 : {{ journal_entry.gratitude_3 }}</strong></br>
                        </div>
                    </div>
                    <hr>
                </div>
                {% else %}
                <p class="text-muted mt-5">Your journal is empty! Start writing your gratitudes.</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<section>
    <div class="row mt-5">
        <div class="col-6 px-5">
            <div class="row">
                <div class="col-6">
                    <h3>Attending:</h3>
                </div>
                <div class="col-6">
                    <a class="btn btn-primary btn-md float-end" href="{{ url_for('get_events') }}">Explore Events</a>
                </div>
            </div>
            <hr>
            {% for event in events %}
                <!-- Find users saved events -->
                {% if username in event.members_attending %}
                    <p class="text-muted">{{event.event_date|format_date }}</p>
                    <h5>{{ event.event_name }}</h5>
                    <p class="text-muted">{{ event.event_description }}</p>
                    <p class="text-muted">{{ event.event_place }}</p>
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-6 px-5">
            <div class="row">
                <div class="col-6">
                    <h3>Events Created:</h3>
                </div>
                <div class="col-6">
                    <!-- Create Event -->
                    <a class="btn btn-primary btn-md float-end" href="{{url_for('new_event' )}}">Create Event</a>
                </div>
            </div>
            <hr>
            {% for event in events %}
                <!-- Find users created events -->
                {% if username == event.event_owner %}
                    <p class="text-muted">{{event.event_date|format_date }}</p>
                    <h5>{{ event.event_name }}</h5>
                    <p class="text-muted">{{ event.event_description }}</p>
                    <p class="text-muted">{{ event.event_place }}</p>
                    <!-- Edit Event -->
                    <a class="btn btn-secondary btn-md" href="{{url_for('edit_event',id=event._id)}}">Edit Event</a>
                    <a class="btn btn-danger btn-md" href="{{url_for('delete_event',id=event._id)}}">Delete Event</a>
                    <br>
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}