{% extends "base.html" %}
{% block content %}


<section class="container">
    <div class="row mt-3">
        <div class="card col-12 col-md-8 offset-md-2" method="POST" action="{{ url_for('login') }}">
            <div class="card-body">
                <h2 class="text-center mt-5 mb-4">{{ username.title() }}'s Profile</h2>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Journal -->
<div class="py-2 text-center container bg-light mt-5">
    <div class="row mb-2">
      <h2 class="fw-light mt-5">My Gratitude Journal</h2>
      <p class="lead text-muted">Acknowledging the good that you already have in your life is the foundation for all abundance.</p>
    </div>
    <div class="row mb-2">
      <div class="col-12 col-md-6 mt-5">

        <!-- Display user saved_gratitudes -->
        <h2> I am grateful for :</h2>
        {% if session.user %}
        {% for journal_entry in my_journal %} 
            <p class="text-muted"> Date : {{ journal_entry.gratitude_date }}</p>
            <p class="text-muted"> 1 : {{ journal_entry.gratitude_1 }}</p>
            <p class="text-muted"> 2 : {{ journal_entry.gratitude_2 }}</p>
            <p class="text-muted"> 3 : {{ journal_entry.gratitude_3 }}</p>
            <hr>
        {% else %}
        <!-- New user journal -->    
        <p class="text-muted">Your journal is empty! Start writing your gratitudes today</p>
        {% endfor %}
        {% endif %}
      </div>
      <div class="col-12 col-md-6">
    <!-- Display user journal form -->
      {% if session.user %} 
        {% include 'journal_form.html' %}
      {% endif %}  
      </div>
    </div>
</div>


<section>
    <div class="row mt-5">
        <div class="col-6 px-5">
            <div class="row">
                <div class="col-6">
                    <h3>Attending:</h3>
                </div>
                <div class="col-6">
                    <a class="btn btn-primary btn-md float-end" href="{{ url_for('get_events') }}">Explore Events</a>
                </div>
            </div>
            <hr>
            {% for event in events %}
            <!-- Find users saved events -->
                {% if username in event.members_attending %}
                    <p class="text-muted">{{event.event_date|format_date }}</p>
                    <h5>{{ event.event_name }}</h5>
                    <p class="text-muted">{{ event.event_description }}</p>
                    <p class="text-muted">{{ event.event_place }}</p>
                    <hr>
                {% endif %}     
            {% endfor %}
        </div>
        <div class="col-6 px-5">
            <div class="row">
                <div class="col-6">
                    <h3>Events Created:</h3>
                </div>
                <div class="col-6">
                    <a class="btn btn-primary btn-md float-end" href="{{ url_for('new_event') }}">Create Event</a>
                </div>
            </div>
            <hr>
            {% for event in events %}
                <!-- Find users created events -->
                {% if username == event.event_owner %}
                    <p class="text-muted">{{event.event_date|format_date }}</p>
                    <h5>{{ event.event_name }}</h5>
                    <p class="text-muted">{{ event.event_description }}</p>
                    <p class="text-muted">{{ event.event_place }}</p>
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}